/* * {
  border: 1px solid green;
}*/

* {
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  user-select: none;
}

:root {
  --background: #000;
}

body {
  color: #141923;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.container {
  max-width: 1440px;
  margin: auto;
  height: 100vh;
}


.twitter-small-icon {
  color: #1DA1F2;
  padding: 8px;
}

.twitter-leftBanner {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px 8px 4px 10px;
  border-radius: 50%;
}

.landing-header {
  font-size: 64px;
}

.log-in-button {
  background-color: #1DA1F2;
  border: #1DA1F2;
}

.sign-up-button {
  color: #1DA1F2;
  border: 1px solid #1DA1F2;
  background-color: #fff;
}

.log-in-sign-up-background {
  background-color: #F7F9F9;
  min-height: 300px;
}

.image {
  background-color: #1DA1F2;
  position: relative;
}

.twitter-large-icon {
  color: white;
  font-size: 300px;
  position: absolute;
  top: 30%;
  left: 20%;
}

.content {
  min-height: calc(100vh - 64px);
}

.footer-bar a {
  color: #536571;
  line-height: 16px;
  font-size: 13px;
  text-decoration: none;
  padding-right: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.footer-bar a:hover {
  text-decoration: underline;
}

/* Nav */

.navbar {
  align-items: flex-start;
}



nav span {
  color: #141923;
  display: inline-flex;
  vertical-align: middle;
  padding: 8px 25px 8px 10px;
}

nav span:hover {
  background-color: #e7e7e8;
  border-radius: 50px;
}

.nav-icon {
  padding-right: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  align-self: center;
}

.nav-icon-layer {
  padding-right: 40px;
  height: 30px;
}

.leftBanner {
  height: 100%;
  justify-content: space-between;
  position: fixed;
}

.rightBanner {
  height: 100%;
  position: fixed;
}

/* User logout */

.user-logout h6 {
  font-size: 12px;
  margin-bottom: 4px;
}



.rightBanner .input-group-text, .rightBanner .form-control {
  background-color: transparent;
  border: none;

}


.search-bar-background {
  background-color: #eff3f4;
  border-radius: 50px;
}

.search-bar-icon {
  color: #536571;
}


::placeholder { /* Most modern browsers support this now. */
  color: #536571;
}

.form-control:focus {
  box-shadow: none;
}

.search-bar-help {
  font-size: 15px;
  padding: 8px;
  text-align: center;
  color: #536571;
  border: 1px solid #536571;
  border-radius: 16px;
}

.right-sidebar-box {
  padding: 4px;
  margin-bottom: 16px;
  border-radius: 16px;
  background-color: #F7F9F9;

}

.right-sidebar-box h2 {
  font-size: 20px;
  margin: 0;
}

.right-sidebar-box h6 {
  font-size: 15px;
}

.whats-happening-tweet span {
  font-size: 13px;
  color: #536571;
}

.btn-follow {
  font-size: 14px;
  border-radius: 16px;
}

.circle-grey {
  color: #e7e7e8;
}



.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 16px;
  margin-left: 16px;
  color: #1DA1F2;
}

.upload-btn-wrapper:hover {
  background-color: aliceblue;
  border-radius: 50px;
}

.btn-upload {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #1DA1F2;
}

.icon-upload {
  margin-right: 8px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 130px;
  opacity: 0;
}

.btn-tweet {
  color: #fff;
  background-color: #1DA1F2;
  border-radius: 50px;
}

.btn-tweet:hover {
  color: #fff;
  background-color: #1A8CD8;
}

.tweet-inner {
  border-top: 1px solid #f6f9f9;
  border-bottom: 1px solid #f6f9f9;
}


.tweet-details span {
  font-size: 15px;
  margin-right: 4px;
}

.tweet-username, .tweet-time {
  color: #536571;
}

.btn-delete {
  color: #1DA1F2;
  text-decoration: none;
  padding: 0;
}

.btn-delete:hover {
  color: #1A8CD8;
  text-decoration: underline;
}

.feed-inner {
  border-left: 1px solid #f6f9f9;
  border-right: 1px solid #f6f9f9;
}


